
  .side-button-box {
    background-color: white;
    padding: 8px;
    border:1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-box{
    background-color: white;
    padding: 8px;
    border:1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  label {
    margin-bottom: 0rem !important;
  }

  .ncv{
    margin-right: 7px;
  }

  .custom-switch .form-switch{
    width:32px;
    height:20px;

  }
  .side-button-box input[type="checkbox"] {
    margin-right: 5px;
  }

  .radio-group {
    display: flex;
    gap: 10px;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group label {
    padding: 5px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  .radio-group input[type="radio"]:checked + label {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  
 