.cardTitle {
    color: rgb(15, 97, 146) !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  body.lang-ar {
    direction: rtl;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
body.lang-ar #page-topbar {
  right: var(--vz-vertical-menu-width) !important;
  left:0;
}

body.lang-ar  .main-content {
  margin-right: var(--vz-vertical-menu-width);
  margin-left: auto;
}