.cardTitle {
    color: rgb(15, 97, 146) !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  body.lang-ar {
    direction: rtl;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
.lang-ar #page-topbar {
  /* right: var(--vz-vertical-menu-width) !important; */
  left:0;
}


/* .lang-ar .navbar-nav {
  padding-right: 0;
} */

@media (min-width: 768px) {
  .lang-ar [data-layout=vertical]:is([data-sidebar-size=sm], [data-sidebar-size=sm-hover]) #page-topbar {
      right: var(--vz-vertical-menu-width-sm);
  }
  .hamburger-icon {
    display: none;
  }
  .lang-ar  .main-content {
    margin-right: var(--vz-vertical-menu-width);
    margin-left: auto;
  }
}

.lang-ar .me-2 {
  margin-left: 0.5rem !important;
}

.lang-ar .nav{
  padding-right: 0;
}

@media (max-width: 440px) {

  .lang-ar .app-menu {
    display: none; 
  }
  
  /* .lang-ar .app-menu.open {
    display: block; 
  } */
  
}


@media  (min-width: 768px) {
  .lang-ar .dele-ar {
    margin-right: 6px !important;
  }
}

@media (min-width:320px) and (max-width: 768px) {
  .btn-responsive {
    margin-top: 8px;
  }
  .label-responsive {
    margin-right: 25px;
  }
  
}


.lang-ar input.form-control {
  direction: rtl; 
  text-align: right; 
}

.lang-ar input::placeholder {
  text-align: right; 
}



@media (min-width: 768px) {
  .lang-ar .arabic-vr {
    gap:10px;
  }
}


.no-records {
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
}

.uploaded-files {
  max-height: 80px; 
  overflow-y: auto; 
  border-radius: 8px; 
  border: 1px solid #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
  background-color: #ffffff; 
}

.uploaded-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px; 
  margin-bottom: 8px; 
  background-color: #f5f5f5; 
  border-radius: 6px; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s ease; 
  z-index: 999;
}

.uploaded-file:hover {
  background-color: #e0f7fa; 
}

.file-name {
  flex: 1; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  font-size: 14px; 
  color: #333; 
}

.remove-button {
  background-color: transparent; 
  border: none; 
  color: #ff5252; 
  cursor: pointer; 
  font-size: 18px; 
  line-height: 1; 
  transition: color 0.2s ease; 
}

.remove-button:hover {
  color: #d32f2f; 
}
