.cardTitle {
    color: rgb(15, 97, 146) !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  body.lang-ar {
    direction: rtl;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
.lang-ar #page-topbar {
  /* right: var(--vz-vertical-menu-width) !important; */
  left:0;
}

.lang-ar  .main-content {
  margin-right: var(--vz-vertical-menu-width);
  margin-left: auto;
}

/* .lang-ar .navbar-nav {
  padding-right: 0;
} */

@media (min-width: 768px) {
  .lang-ar [data-layout=vertical]:is([data-sidebar-size=sm], [data-sidebar-size=sm-hover]) #page-topbar {
      right: var(--vz-vertical-menu-width-sm);
  }
}

.lang-ar .me-2 {
  margin-left: 0.5rem !important;
}

.lang-ar .nav{
  padding-right: 0;
}
