.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.switch-default .form-check-input {
  background-color: #e0e0e0; /* Default color when off */
}

.switch-warning .form-check-input {
  background-color: yellow;
}

.switch-primary .form-check-input {
  background-color: #0d6efd;
}

.switch-success .form-check-input {
  background-color: #198754;
}

.switch-danger .form-check-input {
  background-color: #dc3545;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.role-table{
  padding: 5px !important;
}
.role-table-tr{
  border: 1px solid gainsboro;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
